/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

/* Global Styles */
body {
  font-family: "Caveat", cursive;
  font-size: 25px;
  font-weight: bold;
  background-color: #fdfdfd;
}

header {
  background: url("assets/images/trivia-picture.webp") no-repeat center center /
    cover;
}

/*Button Styles */
.btn {
  border: 2px solid;
  background-color: transparent;
  color: white;
}

/* Card Styles */
h5.card-title {
  font-weight: bolder !important;
  font-size: x-large !important;
}

.card-img-top {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

/* Hover Zoom Effect */
.hover-zoom {
  transition: transform 0.3s ease;
}
.hover-zoom:hover {
  transform: scale(1.05);
}
