/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

/* Global Styles */
body {
  font-family: "Caveat", cursive;
  font-size: 25px;
  font-weight: bold;
  background-color: #fdfdfd;
}

header {
  background: url("assets/images/trivia-picture.webp") no-repeat center center /
    cover;
}

/* Container Styling */
.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 30px;
  background-color: rgb(188, 164, 211);
}

/*Button Styles */
.btn {
  border: 2px solid;
  background-color: transparent;
  color: white;
}

/* Card Styles */
h5.card-title {
  font-weight: bolder !important;
  font-size: x-large !important;
}

.card-img-top {
  height: 13rem;
  object-fit: cover;
}

/* Hover Zoom Effect */
.hover-zoom {
  transition: transform 0.3s ease;
}
.hover-zoom:hover {
  transform: scale(1.05);
}

/* Character Card Styles */
/* .character-card img {
  object-fit: cover;
  height: 300px;
} */

.character-card blockquote {
  font-style: italic;
  color: #555;
  margin-top: 1rem;
}

.card-title {
  font-family: "Caveat", cursive;
  font-size: 1.6rem;
}

/* Responsive Adjustments */

/* Screen sizes above 768px */
@media (min-width: 769px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}
/* Screen sizes tablets and above */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }
}
/* Screen sizes desktops and above */
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .card-img-top {
    height: 15rem;
    object-fit: cover;
  }
}
/* Screen sizes large desktops and above */
@media (max-width: 1440px) {
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

/* Screen sizes 4k */
@media (min-width: 2500px) {
  .container {
    max-width: 2560px;
    margin: 0 auto;
  }
  .card-img-top {
    height: 30rem;
    object-fit: cover;
  }
}
/* Footer Styles */
